@font-face {
    font-family: netflix;
    src: url(../assets/DesirasNonCommercial.otf);
}
@font-face {
    font-family: orwell;
    src: url(../assets/1896.ttf);
}
@font-face {
    font-family: top;
    src: url(../assets/top.ttf);
}